span{
    height: 150px;
    width:150px;
    padding: 8vh 8vh;
    border: 2px solid black;
}
.canvas{
    height:70vh;
    width: 100vh;
    align-items: center;
    padding-top: 20vh;

}
h1{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vh;
}